# This workflow will build a package using Maven and then publish it to Sonatype.

name: Maven Package

on:
  push:
    branches:
     - release/**

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        server-id: sonatype-staging # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Save the private key
      run: echo $PGP_KEY > ~/.gnupg/key.gpg

    - name: Publish to Sonatype Staging
      run: mvn javadoc:jar source:jar deploy -s $GITHUB_WORKSPACE/settings.xml -Dgpg.passphrase="${{ secrets.PGP_PASSPHRASE }}" -Dgpg.secretKeyring=./key.gpg
